.button, .button-cancel{
	position: fixed;
	bottom: 200px;
	z-index: 1000;
  
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .button{
	left: 25%;
  }
  
  .button-cancel{
	right: 25%;
  }
  
  .submit{
	color: var(--clr-primary);
	background: linear-gradient(90deg, #EF4D62 0%, rgba(248, 7, 89, 0.70) 100%);
  }
  
  .button button, .button-cancel button{
	font-family: var(--ff-default);
	font-weight: 700;
	font-size: 50px;
	padding: 0.5rem 1.5rem ;
	border: 2px solid var(--clr-accent);
	color: var(--clr-primary);
	background-color: var(--clr-primary);
	width: fit-content;
	transition: 0.15s;
	cursor: pointer;
  
	border-radius: 10px;
  }
  
  .button-cancel .cancel{
	color: var(--clr-accent);
  }
  
  .button .submit:hover{
	opacity: 0.5;
  }
  
  .button-cancel .cancel:hover{
	background-color: var(--clr-accent);
	color: var(--clr-primary);
  }
  
  button > a{
	width: fit-content;
  }