h1, p{
  color: var(--clr-secondary);
  font-family: var(--ff-default);
}

.projects-hero-section {
  background-image: url(/has-precast-main/images/projects/projects-hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;
}

.projects-hero-section h1 {
  background: linear-gradient(134deg, #EF4D62 20.09%, #434343 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-hero-section p {
  color: #ffffff;
  margin-block: 2rem;
}

.projects-hero-section button {
  font-size: var(--fs-subtitle);
  padding: 0.5rem;
  border: none;
  color: var(--clr-primary);
  background: linear-gradient(90deg, #EF4D62 0%, rgba(248, 7, 89, 0.70) 100%);
  width: fit-content;
  transition: 0.15s;
  cursor: pointer;
}

.projects-hero-section button:hover {
  opacity: 0.8;
}

#projects-wrapper {
  height: auto;
}

#projects-wrapper>h1 {
  font: 600 calc(var(--fs-title) - 1rem)/1em var(--ff-default);
  margin-bottom: 3rem;
  margin-inline: auto;
  max-width: 60rem;
}

#projects-wrapper>div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 60rem;
  margin-inline: auto;
}

.projects-card {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  
  cursor: pointer;
}

.projects-card>div:first-child>img {
  aspect-ratio: 350/250;
  object-fit: cover;
  transition: transform .2s;
}

.projects-card>div:first-child>img:hover {
  transform: scale(1.05);
}

.projects-description {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 0.1rem;
}

.projects-description p {
  color: var(--clr-tertiary);
}

.projects-description h1 {
  margin-block: 1rem;
  font-weight: 500;
}

.projects-description img {
  height: var(--fs-title);
}


.tooltip {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  z-index: 100;
  top: 200px;

  transition: opacity 0.15s;
  opacity: 0;
  pointer-events: none;
}

.projects-card:hover .tooltip {
  opacity: 1;
}

.tooltip img {
  aspect-ratio: 300/200;
  object-fit: cover;
}
