h1 {
  font: 700 calc(var(--fs-title) - 1rem)/1em var(--ff-default);
  margin-bottom: 2rem;
}

h1, p{
  color: var(--clr-secondary);
  font-family: var(--ff-default);
}

a {
  color:var(--clr-accent);
}



.users-guide-hero-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-content: center;
}

.users-guide-hero-section>div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero {
  background: linear-gradient(357deg, #434343 10.11%, rgba(239, 77, 98, 0.85) 84.99%, rgba(239, 77, 98, 0.85) 84.99%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.users-guide-hero-section p {
  color: var(--clr-secondary);
  margin-block: 2rem;
}

.users-guide-hero-section button {
  font-size: var(--fs-subtitle);
  padding: 0.5rem;
  border: none;
  color: var(--clr-primary);
  background: linear-gradient(90deg, #EF4D62 0%, rgba(248, 7, 89, 0.70) 100%);
  width: fit-content;
  transition: 0.15s;
  cursor: pointer;
}

.users-guide-hero-section button:hover {
  opacity: 0.5;
}

.users-guide-hero-section img {
  object-fit: contain;
}

#pre-content {
  background: linear-gradient(180deg, var(--clr-primary-shade) 0%, var(--clr-primary) 20%);
  height: auto;
}

#pre-content h1:first-of-type{
  text-align: center;
}

#pre-content p:first-of-type {
  margin-inline: auto;
  font: var(--fs-default)/1em var(--ff-default);
  max-width: 50rem;
}

#pre-content h1:last-of-type{
  margin-top: 4rem;
  max-width: 50rem;
  margin-inline: auto;
}

#pre-content ul {
  list-style-type: none;
  max-width: 50rem;
  margin-inline: auto;
}

#pre-content li>div {
  color: var(--clr-primary-shade);
  font-size: var(--fs-default);
  text-align: center;
  display: inline-block;
  height: var(--fs-default);
  width: var(--fs-default);
  background: var(--clr-accent);
  border-radius: 10000px;
  margin-right: 1rem;
}

#pre-content li {
  margin-bottom: 1rem;
}

#pre-content a {
  transition: 0.1s;
}

#pre-content a:hover {
  opacity: 0.7;
  text-decoration: none;
}

#order-wfb {
  height: auto;
  background: var(--clr-primary);
}

#order-wfb>h1:first-of-type {
  text-align: center;
  margin-bottom: 2rem;
}

#order-wfb h1, #order-wfb p {
  margin-bottom: 1rem;
}

.order-steps-wrapper {
  max-width: 50rem;
  margin-inline: auto;
  gap: 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

.order-steps-wrapper a {
  opacity: 1;
  transition: 0.15s;
}

.order-steps-wrapper a:hover {
  opacity: 0.7;
  text-decoration: none
}

.order-steps-wrapper img {
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

#install-wfb {
  height: auto;
  background: linear-gradient(var(--clr-primary) 80%, var(--clr-primary-shade) 100%);
}

#install-wfb>h1 {
  max-width: 50rem;
  margin-inline: auto;
  text-align: center;
}

.install-steps-wrapper {
  max-width: 50rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 2rem;
}

.install-steps-wrapper h1 {
  margin-bottom: 1rem;
}

.install-steps-wrapper p {
  margin-bottom: 2rem;
}

.install-steps-wrapper p:last-child {
  font-style: italic;
  font-weight: 500;
}

.install-steps-wrapper video {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: sticky;
  top: 15vh;
}